/* Nav Bar */
.logo {
  width: 90px;
  object-fit: cover;
  padding-top: 5px;
}

/* Members */
.member-card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  width: 343px;
  height: 100%;
  justify-items: center;
}

.social-media {
  width: 32px;
  height: 32px;
}

/* Home */
.background {
  background-color: #17191b;
  min-height: 100vh;
  display: block;
  color: white;
  margin: auto;
}

.container {
  width: 100%;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.stream-cards {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92.5%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

/* Streamer Card */
.card {
  /* border: 2px solid #e7e7e7;
  border-radius: 4px; */
  width: 400px;
  height: max-content;
  justify-items: center;
}

.uptime {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 3px 3px 3px 3px;
  border-radius: 3px;
  background-color: rgba(19, 19, 19, 0.6);
}

.thumbnail-live {
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;
  padding: 3px 3px 3px 3px;
  border-radius: 3px;
  background-color: #eb0400;
}

.viewer-count {
  position: absolute;
  bottom: 8px;
  left: 8px;
  margin: 0;
  padding: 3px 3px 3px 3px;
  border-radius: 3px;
  background-color: rgba(19, 19, 19, 0.6);
}

.thumbnail {
  position: relative;
  text-align: center;
  color: white;
}

.thumbnail-image {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
  width: 100%;
}

.title {
  color: white;
  font-size: 0.93rem;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease-in-out;
}

.stream-card:hover .title {
  color: #e2c286;
}

.pfp {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #000000;
  float: left;
  align-items: center;
  display: flex;
  border: 2px solid #9146ff;
  border-style: soild;
  border-color: #bf94ff;
}

.pfp-username {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.pfp-username p {
  float: left;
}

.username {
  padding-left: 10px;
  margin: auto 0;
  font-weight: bold;
  font-size: 0.95rem;
  text-align: left;
  flex-basis: 50%;
}

.streamer-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}

.streamer-links-icon {
  fill: white;
  width: 28px;
  height: 28px;
}

.game-name {
  padding-left: 10px;
  margin: auto auto;
  color: #bf94ff;
  font-weight: bold;
  font-size: 0.9rem;
  align-self: right;
  text-align: right;
  flex-basis: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-media-icon {
  width: 42px;
  height: 42px;
}

.social-media-container {
  display: flex;
  justify-content: space-evenly;
}

/* ABOUT */
.description {
  margin-top: 15px;
  align-items: center;
}

.contact {
  margin: 0 auto;
  float: center;
}

.contact-icon {
  margin: 15px;
  float: left;
}

/* MEMBERS */
.member-cards {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92.5%;
}

.member-social-media-icon {
  height: 23px;
  width: 23px;
  fill: rgb(119, 119, 119);
  transition: all 0.19s ease-in-out;
}

.member-social-media-icon:hover {
  fill: #e2c286;
}

.multiview-button {
  height: 23px;
  width: 23px;
  fill: rgb(119, 119, 119);
  transition: all 0.19s ease-in-out;
}

.multiview-button:hover {
  fill: #e2c286;
}

.multiview-button-selected {
  height: 23px;
  width: 23px;
  fill: #e2c286;
  transition: all 0.19s ease-in-out;
}

.multiview-button-selected:hover {
  fill: rgb(119, 119, 119);
}

.about-social-media-icon {
  height: 64px;
  width: 64px;
  fill: rgb(119, 119, 119);
  transition: all 0.19s ease-in-out;
}

.about-social-media-icon:hover {
  fill: #e2c286;
}

#about-discord {
  color: rgb(119, 119, 119);
  margin-top: 25px;
  font-weight: bold;
  transition: all 0.19s ease-in-out;
}

#about-discord:hover {
  fill: #e2c286;
}
