.background {
  background-color: #17191b;
  min-height: 100vh;
  display: block;
  color: white;
  margin: auto;
}

.container {
  width: 100%;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.stream-cards {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92.5%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

