.card {
  /* border: 2px solid #e7e7e7;
  border-radius: 4px; */
  width: 400px;
  height: 100%;
  justify-items: center;
}

.uptime {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 8px;
  right: 5px;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(19, 19, 19, 0.6);
}

.viewer-count {
  position: absolute;
  bottom: 8px;
  left: 5px;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(19, 19, 19, 0.6);
}

.thumbnail {
  position: relative;
  text-align: center;
  color: white;
}

.thumbnail-image {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
  width: 100%;
}

.title {
  font-size: 0.93rem;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pfp {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #9146FF;
  padding: 2px;
  float: left;
  align-items: center;
  display: flex;
}

.pfp-username {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.pfp-username p {
  float: left;
}

.username {
  padding-left: 10px;
  margin: auto 0;
  font-weight: bold;
  font-size: 0.95rem;
  text-align: left;
  flex-basis: 50%;
}

.game-name {
  padding-left: 10px;
  margin: auto auto;
  color: #bf94ff;
  font-weight: bold;
  font-size: 0.9rem;
  align-self: right;
  text-align: right;
  flex-basis: 50%;
}

.social-media-icon {
  width: 42px;
  height: 42px;
}

.social-media-container {
  display: flex;
  justify-content: space-evenly;
}